# Python
__pycache__/
*.pyc
*.pyo

# Virtual envs
.venv/
venv/

# Local certs/keys
*.pem
local.key
local.crt

# Env/secrets
.env
.env.*

# Caches / logs
.cache/
*.log

# App artifacts
static/captures/
